.info{border:1px solid #000; height:50px; padding-top:11px;}
.box{border:1px solid #000; height:50px; padding-top:6px;
	}
.texta{ height:90px; padding-top:30px; border:1px solid #000;
}
.textb{ height:90px; border:1px solid #000; padding-top:15px;}

